<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EATestConfiguration" type="EAAutoFrameWork.ConfigElement.EATestConfiguration,EAAutoFrameWork" />
  </configSections>
  <appSettings>
    <add key="AUT" value="http://eaapp.somee.com/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <EATestConfiguration>
    <testsettings>
      <testsetting name="staging" aut="http://eaapp.somee.com/" browser="Chrome" testType="SmokeTest" islog="Y" LogPath="D:\\Automation Framework Design\\Logfiles"></testsetting>
    </testsettings>
  </EATestConfiguration>
</configuration>